.h11{
    font-style: 50px;
    color: green;
    margin: 50px,50px;
}
p{
    font-size: 180%;
}
h3{
    font: 50px;
    margin: 30px,0px,18px;
}
.sep{
    text-align: center;
}
.c1{
    background-color: rgb(142, 230, 117);
}
.c2{
    background-color: rgb(97, 223, 122);
}
.c3{
    background-color: rgb(151, 236, 134);
}
.b1{
    background-color: rgb(16, 0, 0);
    color: #fffdfd;
    box-shadow: 0 0 10px 0 rgb(13, 255, 0);
    margin: 20px;
}
.b2{
    background-color: #000000;
    color: white;
    box-shadow: 0 0 10px 0 rgb(73, 243, 5);
}
button{
    font-size:13px ;
    border-radius: 21px;
    border: none;
    padding: 16px;
    width: 135px;
}
.cls ul{
    display: inline;
    /* width: 100%; */
    list-style: none;
    
}
li{
    display: inline;
    padding-left:50px;
}
body{
    background-image: url(./background.jpg);
}